body {
    max-width: 100%;
    margin: 0;
}

.header {
    width: 100%;
    height: 25vh; /* Adjust the height as needed */
    overflow: hidden;
    position: relative;
}

.header-image {
    position:absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    width: 100%; 
    height: 300px;
    object-fit: cover;
     /* Adjust as needed: 'cover', 'contain', 'fill', 'none', 'scale-down' */
    opacity: 1;
    transition: all 1.4s ease 0s;
    z-index: -1;
}

.nav {
    display: flex;
    justify-content: space-between;
    color: white;
    font-size: 1em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.nav-bar {
    display: flex;
}

li {
    font-size: 1em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: lighter;
    padding-right: 30px;
    list-style: none;
    cursor: pointer;
}

.head {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 20vh;
    margin-bottom: 5%;
    align-items: center;
}

.search {
    display: flex;
    width: 50vw;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background-color: white;
    padding: 5px 0;
}

.mall {
    outline: none;
    border: none;
    width: 80%;
    padding-left: 0px;
    font-size: 15px;
}

.location {
    outline: none;
    border: none;
    width: 30%;
    padding-left: 0px;
    font-size: 15px;
}

h1 {
    margin: 12%;
    font-size: xx-large;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    font-style: italic;
}

.locationIcon {
    font-size: 20px;
    color: rgb(252, 119, 119);
    padding: 0 10px 0 10px;
    margin-left: 1%;
}

.searchIcon {
    color: gray;
    padding-left: 10px;
    margin-left: -10%;
    margin-right: 2%;
}

.sec-1 {
    display: flex;
    justify-content: center;
}

.white {
    position: absolute;
    bottom: 3px;
    align-items: center;
    border-radius: 0 0 15px 15px;
    background-color: white;
    width: 100%;
    height: 25%;
}

.white span {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1em;
    color: rgb(56, 56, 56);
    letter-spacing: 0.7px;
}

.dropdown {
    position: relative;
}

.username {
    cursor: pointer;
    display: flex;
    align-items: center;
}

.username:hover {
    text-decoration: underline;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    top: 100%;
    right: 0;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content button {
    background-color: #f44336;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    width: 100%;
    text-align: left;
}

.dropdown-content hr {
    background-color: #f44336;
    color: #333;
    text-decoration: none;
}

.dropdown-content a:hover {
    background-color: #f2f2f2;
}
